
  <link href="http://www.townck.com/css/css.css" rel="stylesheet" type="text/css" />
<!--登录-->
<div class="linev"></div>
<div class="boxv">
<div class="boxvv">
<div class="main-head">
<h1 class="title">登录唐客旅游网</h1>
</div>
<div class="main-body">
<div class="reg">
<div class="reg-form col-left" >
<form name="loginForm" action="/login" method="post">
<table class="form-layout ">
<tbody><tr class="frm-li js_account">
<td class="inp">
<div class="frm-i">
<input type="text" name="username" placeholder="邮箱/手机/用户名" disableautocomplete="" autocomplete="off">
<div class="mail-complete-options option-box util-hidden"><div class="option"></div></div>
<div class="frm-tips"><i class=""></i><em></em></div>
</div>
</td>
</tr>
<tr class="frm-li js_password" data-focustip="密码由6到20个字符组成，区分大小写">
<td class="inp">
<div class="frm-i">
<input type="password" placeholder="密码" disableautocomplete="" autocomplete="off" name="password">
<input type="hidden" value="true" name="r">
<div class="frm-tips"><i class=""></i><em></em></div>
</div>
</td>
</tr>

<tr class="frm-li js_password" data-focustip="密码由6到20个字符组成，区分大小写">
<td class="inp">
<button class="btn-primary" type="submit">登录</button>
</td>
</tr>
</tbody></table>
</form>
</div>
<div class="reg-tip">
<p class="go">已有注册帐号？<a href="#" class="link1">立即登录</a></p>
<p>直接使用合作网站帐号登录 </p>
<p><a href="#"><i class="icon-p-weibo"></i></a><a href="#"><i class="icon-p-qq"></i></a></p>
</div>
</div>
</div>

</div>
</div>