<style>
.manage {width:1000px;  margin:40px auto 0; font-family:"microsoft yahei", "simsun"; }
.manage p button {margin-top:1px; margin-right:10px; font-family:"microsoft yahei", "simsun"; }
.manage p {color:#990000; font-weight:bold; margin: 10px 10px 3px 0; font-size:14px;}
.manage textarea {margin:0px;}
</style>


	
<div class="manage">
	<p>基本管理功能</p>
	<p><button>备份数据库到目录</button><a href="/admin/backup">下载数据库到本地</a><button>刷新 index.js</button></p>
	
<form action="/admin/manage/update" method="post">
	<p>友情链接</p>
	<textarea style="width:900px; height:100px;" name="links"><%-manage.links%></textarea>
	
	<p>网站标题Title</p>
	<textarea style="width:900px; height:50px;" name="title"><%-manage.title%></textarea>

	<p>网站关键词Keywords</p>
	<textarea style="width:900px; height:50px;" name="keywords"><%-manage.keywords%></textarea>

	<p>网站描述Description</p>
	<textarea style="width:900px; height:50px;" name="description"><%-manage.description%></textarea>
	
	<p><button>更新</button></p>

</form>

</div>



	

	
	
	