<style>
.manage {width:1000px;  margin:40px auto 0; font-family:"microsoft yahei", "simsun"; }
.manage p button {width:100px; height:30px; }
</style>



<div class="manage">

<p><button>备份数据库</button></p>
<p><button>下载数据库</button></p>
<p><button>刷新静态页面</button></p>
<textarea style="width:900px; height:500px;">
<a href="http://wpa.qq.com/msgrd?v=3&uin=357639858&site=qq&menu=yes" rel="nofollow" target="_blank">友情链接合作</a> |
<a href="http://www.townck.com" title="唐客旅游 唐客韩国 韩国导游 韩国租车 韩国自由行 韩国旅游">唐客旅游网</a> |
</textarea>
<p><button>提交友链</button></p>


</div>