<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>无标题文档</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/ask.css"/>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/ask.js"></script>
</head>
<body>
<div class="ask_posi ask_wrap">
	<a href="http://www.townck.com">唐客</a><span class="sp">></span><a href="/">唐客问答</a><span class="sp">></span><%=doc.title%>
</div>
<!--//.asp_posi-->
<div class="ask_wrap">
	<div class="ask_top_detail">
		<h2><a href="/">唐克问答</a></h2>
		<div class="ask_search_main">
			<div class="ask_search_text">
				<input id="type" name="type" type="hidden" value="orther">
				<form action="search" method="get" id="formsearch">
					<input id="keyword" name="q" type="text" style="width:420px;" value="" placeholder="提问前请先搜索，看看你的问题其他唐客er是否已经问过" class="ui_input" autocomplete="off">
					<input type="button" value=" " onclick="if($.trim($('#keyword').val())!='' &amp;&amp; $.trim($('#keyword').val())!='提问前请先搜索，看看你的问题其他唐客er是否已经问过'){$('#formsearch').submit();}" class="ask_button" data-bn-ipg="4-4">
				</form>
				<div id="search_menu">
				</div>
			</div>
		</div>
		<div class="ask_alltag fl">
			<a href="#" title="全部标签" data-bn-ipg="5">全部标签</a>
		</div>
		<div class="ask_askhelp_btn">
			<a rel="nofollow" href="/form" data-bn-ipg="6"><img src="/images/ask_addask_btn.png" width="147" height="40" alt="我要提问" title="我要提问"></a>
		</div>
	</div>
	<div class="ask_item mt20">
		<% include sidebar.html %>
		
		<div class="ask_item_main fl">
			<div class="ask_detail_item clearfix">
				<div class="ui_headPort fl" alt="1284074">
					<a href="#" data-bn-ipg="7-1"><img src="/images/small4.png" width="80" height="80" alt="lige510" title="lige510"></a>
				</div>
				<div class="ask_detail_content">
					<h2 class="ask_detail_content_title qyer_spam_text_filter"><%=doc.title%></h2></h2>
					<div class="ask_detail_content_text qyer_spam_text_filter">
						<%=doc.content%>
					</div>
					<div class="ask_detail_content_tag mt5">
						<% doc.tag.forEach(function(tag){%>
							<a href="/list/all/<%=tag%>" class="ask_tag" data-bn-ipg="7-2"><strong class="ask_tag_strong"><%=tag%></a></strong></a>
						<% }) %>
					</div>
					<div class="dashed1px mt5">
					</div>
					<div class="clearfix mt10 oh">
						<p class="fl">
							<a data-bn-ipg="7-3">  <%=doc.user.name%>  </a> | <%=doc.date%>
						</p>
<!--						<a href="#" class="fr jsjubaoquestion" value="858432" data-bn-ipg="7-6">举报</a>-->
					</div>
					<div class="clearfix mt10">
						<div class="fl">
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1346345347004722" charset="utf-8"></script>
							<!--分享代码-->
						</div>
						<span class="fr">
						<input type="button" value="回答" class="ui_btn_big jsjumptoanswer" data-bn-ipg="7-7">
						</span>
					</div>
				</div>
			</div>
			<div class="ask_detail_comment mt20 oh">
				<div class="ask_detail_comment_title clearfix">
					<a name="scrollshow"></a>
					
<!--					<p class="fl fb cGray">
						排序：
					</p>
					<span class="cGray">按有用</span>&nbsp;&nbsp;<a data-qid="858432" data-orderway="time" data-page="1" href="#" data-bn-ipg="8-2" class="js_getanswers">按时间</a>
					-->
					&nbsp;
					<span class="fr" style="">共 <%=answers.length%> 个回答</span>
				</div>
				<%answers.forEach(function(answer){%>
				<div class="mod_discuss clearfix jsanswerbox oh">
					<div class="mod_discuss_face">
						<div class="ui_headPort" alt="734348">
							<a data-bn-ipg="8-1-1-1"  width="80" height="80" class="ui_headPort_img" alt="<%=answer.user.name%>"><img width="70" height="70" src="/images/small4.png"/></a>
						</div>
					</div>
					<div class="mod_discuss_cnt">
						<div class="mod_discuss_cnt_triangle">
						</div>
						<div class="mod_discuss_box">
							<div class="jsanswercontent">
								<div class="mod_discuss_box_name">
									<a data-bn-ipg="8-1-1-2" ><%=answer.user.name%></a>  | 
	                            	<%=answer.date%>
								</div>
								<div class="mod_discuss_box_text qyer_spam_text_filter">
									<%=answer.content%>	
								</div>
								<div class="mod_discuss_box_tool clearfix">
									<div class="fr">
										<div class="operate mr10 fl" style="display: none;">
											<span class="fl jiathis_style_title">分享到</span>
											<!--这里插入分享代码-->
										</div>
										<a href="#" class="operate jsjubaoanswer mr10" value="1517866" data-bn-ipg="8-1-1-7" style="display: none;">举报</a>
										<span class="ask_detail_pr"><a href="javascript:void(0)" data-bn-ipg="8-1-1-8" class="icon_praise jsaskansweruseful like_anwser" value="<%=answer._id%>">有用 <span class="like_count"><%=answer.like?answer.like.length:0%></span></a>
<!--										<div class="ask_detail_pr_main" id="js_useful_tips" style="">
											<p>
												如果觉得回答有帮助，请点击“有用”这是对回答者最热烈的掌声。
											</p>
											<span alt="useful" class="js_ask_close_tip">close</span>
										</div>-->
										</span>
									</div>
									&nbsp;
<!--									<a data-bn-ipg="8-1-1-4" href="#" class="icon_discuss jsslideshowcomment" alt="1517866" value="0" rel="zha__li" isself="0"><span>
										讨论
									</span>-->
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% }) %>
				<a name="questionanswer" id="questionanswer" style="margin-top: -150px; position: absolute;">&nbsp;</a>
				<h4 class="fb f14 mt20 js_tmp">添加回答</h4>
				<div class="mod_discuss clearfix mt10">
					<div class="mod_discuss_face ui_headPort" alt="6047093">
						<a href="#" class="fl" data-bn-ipg="9-1"><img src="<%=user.poster%>" width="70" height="70" alt="Vinner7"></a>
					</div>
					<div class="mod_discuss_cnt">
						<div class="mod_discuss_cnt_triangle">
						</div>
						<form action="/answers/<%=doc._id%>" id="jsaddanswer"  method="post" >
							<input type="hidden" name="qid" id="answerqid" value="858432">
							<div class="mod_discuss_speak">
								<div class="mod_edittext">
									<div class="ask_append">
										<div class="ask_append_title">
                                            
										</div>
										<textarea class="ui_textarea auto_text" style="width:555px;height:100px;" id="answertext" name="content"></textarea>
										<div class="ask_detail_pr_main js_ask_answer_tip_div" style="margin-top:12px;display:none;">
											<p>
												如果要补充编辑你的提问，<br>
												请点击“<a href="#">编辑</a>”问题，或<a href="#">重新提问</a>
											</p>
											<span alt="answer" class="js_ask_close_tip">close</span>
										</div>
									</div>
									<div class="mod_edittext_btn clearfix _jsajaxlogin">
										<input type="submit" class="ui_button fr" id="jsanswersubmit" value="回答" data-bn-ipg="9-3">
										<input id="jsanswersubmitafter" type="button" class="fr ui_button_disabled jsformloading" value="回答" style="display:none">
						
										<span class="jsshowanswerbyte mod_edittext_wordnb">0 /
										<script language="javascript">document.write(detail.answermaxlen)</script>
										3000 字</span>
										<span class="icon_error ml10 jsbyteerror" style="display:none">超出字数限制</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
		<div class="clear">
		</div>
	</div>
</div>

<script>
	$('.like_anwser').click(function(){
		var self = this
		$.ajax({
			url: '/like'
			, type: 'post'
			, data: { answer_id: $(this).attr('value') }
			, success: function(){
				var count = $(self).find('.like_count').html()
				console.log(count)
				$(self).find('.like_count').html(parseInt(count)+1)
			}
		})
	})	
</script>

</body>
</html>